# Tab indentation for JS files
[*.js]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2


[*.graphql]
indent_style = space
indent_size = 2